
<div id="popup" class="popup hidden">
    <p>Ususnąć?</p>
    <button class="btn btn-danger" onclick="deleteRow()">OK</button>
    <button class="btn btn-default" onclick="hidePopup()">Anuluj</button>
</div>
