<div id="popupShadow" class="hidden">
    <div id="popup" class="popup hidden">
        <p>Usunąć?</p>
        <button class="btn btn-danger okButton" onclick="deleteRow()">OK</button>
        <button class="btn btn-default cancelButton" onclick="hidePopup()">Anuluj</button>
    </div>
</div>

