@model IEnumerable<Domain.Models.DTO.RecipesDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create" class="btn btn-default">Dodaj</a>
</p>

<partial name="_RecipesTable" model="@Model"/>
<partial name="_Pagination"/>